@font-face {
   font-family: Pacifico;
   src: url('../fonts/Q_Z9mv4hySLTMoMjnk_rCXYhjbSpvc47ee6xR_80Hnw.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: Raleway-Light;
   src: url('../fonts/-_Ctzj9b56b8RgXW8FAriQzyDMXhdD8sAj6OAJTFsBI.woff2') format('woff2');
   font-weight: 300;
   font-style: normal;
}
@font-face {
   font-family: Raleway-Regular;
   src: url('../fonts/Q_Z9mv4hySLTMoMjnk_rCXYhjbSpvc47ee6xR_80Hnw.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: Raleway-SemiBold;
   src: url('../fonts/fonts/xkvoNo9fC8O2RDydKj12bwzyDMXhdD8sAj6OAJTFsBI.woff2') format('woff2');
   font-weight: 600;
   font-style: normal;
}

header {
   background: transparent url('../img/large-banner-image.png');
   width: 1600px;
   height: 672px;
}

h1 {
   display: block;
   font-family: Pacifico, sans-serif;
   font-size: 60px;
   padding-left: 10px;
   top: 20px;
}

#heading {
   display: inline-flex;
   position: relative;
   left: 684px;
   top: 108px;
   line-height: 40px;
}

.title {
   padding-top: 16px;
}

header > p {
   font-family: 'Raleway Light', sans-serif;
   font-size: 36px;
   position: relative;
   text-align: center;
   top: 160px;
}

.down-arrow {
   display: block;
   position: relative;
   left: 776px;
   top: 210px;
}

h2 {
   font-family: 'Raleway SemiBold', sans-serif;
   font-weight: 600;
   font-size: 22px;
}

#content2 p,
#info p {
   font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
   font-size: 16px;
   color: rgb(132, 132, 132);
   line-height: 26px;
}

q {
   font-family: 'Raleway Regular', sans-serif;
   font-size: 24px;
   position: relative;
   left: 396px;
   top: 58px;
}

#contact p {
   font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
   font-size: 14px;
   position: relative;
   left: 720px;
   top: 78px;
   line-height: 24px;
}

#contact2 h2 {
   position: relative;
   font-family: 'Raleway SemiBold', sans-serif;
   font-size: 24px;
   top: 168px;
   left: 680px;
}

#contact2 p {
   color: rgb(132, 132, 132);
   position: relative;
   top: 190px;
   left: 560px;
}

.container2 {
   font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
   font-size: 14px;
   color: rgb(132, 132, 132);
   position: relative;
   display: inline-flex;
   justify-content: space-between;
   left: 530px;
   top: 50px;
}
