@font-face {
   font-family: Pacifico;
   src: url('../fonts/Q_Z9mv4hySLTMoMjnk_rCXYhjbSpvc47ee6xR_80Hnw.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: Raleway-Light;
   src: url('../fonts/-_Ctzj9b56b8RgXW8FAriQzyDMXhdD8sAj6OAJTFsBI.woff2') format('woff2');
   font-weight: 300;
   font-style: normal;
}
@font-face {
   font-family: Raleway-Regular;
   src: url('../fonts/Q_Z9mv4hySLTMoMjnk_rCXYhjbSpvc47ee6xR_80Hnw.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: Raleway-SemiBold;
   src: url('../fonts/fonts/xkvoNo9fC8O2RDydKj12bwzyDMXhdD8sAj6OAJTFsBI.woff2') format('woff2');
   font-weight: 600;
   font-style: normal;
}

header {
   background: transparent url('../img/large-banner-image.png');
   width: 1600px;
   height: 672px;
}

